@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=MonteCarlo&family=Raleway&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}
body {
    font-family:Raleway, sans-serif ;
    font-size: large;
    background-color: rgba(38, 128, 212, 0.9);
    color: rgb(18, 44, 28);
    background-image: url(../img/Backg-clear\ water.webp); 
    background-repeat: no-repeat;
    background-size:cover;   
}

/* headings and logo */

h1 {
    text-transform: capitalize;
    letter-spacing: 5px;
    color: black;
}

h2 {
    font-family: Cormorant Garamond, sans-serif;
    font-weight: 400;
}

#logo {
    float: left;
    font-size: 260%;
    margin-top: 10px;
    margin-left: 10%;
}

/* navigation menus */

#nav_menus {
    font-family: Cormorant Garamond, sans-serif;
    color: black;
    letter-spacing: 5px;
    font-size: 110%;
}

#nav_menus li {
    float: right;
    list-style-type: none;
    margin: 25px;

}

#black_line {
    height: 70px;
    width: 100%;
    background-color:rgba(235, 230, 230, 0.35);
    border-bottom: 10px solid black;
}

/*navigation anchor styling */

nav a {
    text-decoration: none;
    color: black;
    font-size: 130%;
}

nav a:hover {
    font-weight: bold;
}
