@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=MonteCarlo&family=Raleway&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}
body {
    font-family:Raleway, sans-serif ;
    font-size: large;
    background-color: rgba(38, 128, 212, 0.9);
    color: rgb(18, 44, 28);
    background-image: url(../img/backg-clear_water.png); 
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

/* headings and logo */

h1 {
    text-transform: capitalize;
    letter-spacing: 5px;
    color: black;
}

h2, h3 {
    font-family: Cormorant Garamond, sans-serif;
    font-weight: 400;
    color: black;
}

#logo {
    float: left;
    font-size: 260%;
    padding-top: 10px;
    padding-left: 5%;
}

/* navigation menus */

#nav_menus {
    font-family: Cormorant Garamond, sans-serif;
    color: black;
    letter-spacing: 5px;
    font-size: 130%;
}

#nav_menus li {
    float: right;
    list-style-type: none;
    padding: 25px;

}

#black_line {
    height: 70px;
    width: 100%;
    background-color:rgba(235, 230, 230, 0.35);
    border-bottom: 10px solid black;
}

/*navigation anchor styling */

nav a {
    text-decoration: none;
    color: black;
    font-size: 130%;
}

nav a:hover {
    font-weight: bold;
}

/* hero image */

#hero_container {
    height: 600px;
    width: 100%;
    position: relative;
}

#hero_img {
    
    background-image: url(../img/hero-img-4.jpg) ;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

#hero_mes {
    width: 30%;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 11%;
}

/* description section */

#description {
    border-top: solid black 10px;
    position: relative;
}

#inland {
    float: right;
    padding: 40px 10px 40px 40px;
    height: 300px;
    width: 40%;
    object-fit: cover;
}

#description p {
    padding-top: 30px;
    padding-left: 40px;
    line-height: 30px;
}

#description h2 {
    padding-top: 30px;
    padding-left: 35%;
    font-size: 260%;
}

#livorno {
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 30px;
    height: 300px;
    width: 40%;
    object-fit: cover;
    float: left;
}

#us {
    padding-right: 40px;
}

#sg {
    margin: 20px 50px;
    font-size: 120%;
}

#description h3 {
    text-align: center;
    font-size: 140%;
    padding: 0px 40px;
}

#description a {
    color: black;
}

/* opening times&events */

#times {
    clear: both;
    height: 300px;
    width: 100%;
    position: relative;
}

#schedule {
    margin: 5%;
    padding-top: 15px;
}

#schedule h3 {
    font-size: 140%;
}
#schedule td, th {
    margin-top: 40px;
    margin-left: 5%;
}

#schedule .no_left_padding {
    padding-left: 0px;
}

#times_table_div {
    height: 300px;
    width: 60%;
}
#times #times_right {
    line-height: 30px;
    float: right;
    right: 5%;
    top: 5%;
    height: 300px;
    width: 40%;
}

/* footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3% 5%;
    color: black;
}


/* signup styling */

#form_area {
    background: url(../img/love_bikers.jpg);
    background-position: right;
    background-size: cover;
    height: 600px;
    border-bottom: solid black 10px;
}

#form_div {
    height: 100%;
    max-width: 25%;
    background-color: rgba(135, 186, 209, 0.7);
    padding-left: 20px;
}

form h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
form h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 140%;
}

#submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px;
    text-align: center;
    font-size: 110%;
    background-color: #ee4f4f;
    color:lightblue;
    display: block;
}

 /* menus styling */

.menus_section {
     max-height: 900px;
     width:80%;
     margin-left: 10%;
     margin-right: 10%;
     background-color: cornsilk;
     background-image: url(../img/waiter.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position:center center ;
     line-height: 20px;}

.menu_cover {
         background-color: rgba(188, 189, 233, 0.4);
    }

.div_menu {
     padding: 20px 40px;
     background-color: rgba(188, 189, 233, 0.4);
    }

 #drinks {
     max-height: 300px;
     width:80%;
     margin-left: 10%;
     margin-right: 10%;
     background-color: cornsilk;
     line-height: 20px;
     background-image: url(../img/drinks.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position:center center ;
 }

 .menus_section h3 {
     padding:30px 50px;
     font-size: 120%;
 }
 
 .menus_section h2 {
     text-align: center;
     padding-top: 30px;
     padding-bottom: 20px;
 }

 .menus_section ul, li {
    padding: 5px 30px;
    list-style: none;
 }

 p a {
     color: black;
 }